@model IEnumerable<BusinessLogic.DTO.Group.GroupViewModel>
@{ 
    int userId = ViewBag.UserId;
}


    <div >
        @foreach (var group in @Model)
        {
            <div>
                @Ajax.ActionLink(
               group.Name + ((userId == group.LastSenderId)? "" :
               (group.UnreadMessagesCount != 0 ? " " + group.UnreadMessagesCount.ToString() : "")),
               "GroupMessages", "Message", new { area = "", id = group.Id },
               new AjaxOptions
               {
                   HttpMethod = "GET",
                   InsertionMode = InsertionMode.Replace,
                   UpdateTargetId = "MessageId",
                   OnSuccess = "hideFriends"
               }, null)
            </div>
        }
    </div>



    <script type="text/javascript">
        function hideFriends() {
            document.getElementById("friendsId").innerHTML = "";
        }
    </script>

