@model KVBchat_ASP.Areas.Blackjack.Models.BlackjackWithCurrentPlayerViewModel
@{
    ViewBag.Title = "BlackjackRoom";
    Layout = "~/Areas/Blackjack/Views/Shared/_Layout.cshtml";
}
<h2>Blackjack Room @Model.BlackjackViewModel.GameId</h2>

<div id="TableId">
    
</div>

@Ajax.ActionLink("reloadGame", "Reload", "Blackjack", new { area = "Blackjack", id = Model.BlackjackViewModel.GameId },
                 new AjaxOptions
                 {
                     UpdateTargetId = "TableId",
                     HttpMethod = "GET",
                     InsertionMode = InsertionMode.Replace
                 }, new { hidden = "hidden", id = "roomUpdaterId" })

@section scripts
{

    <script type="text/javascript">
        function Updater() {
            document.getElementById("roomUpdaterId").click();
        }
    </script>

    <script type="text/javascript">
        (function selfUpdater() {
            document.getElementById("roomUpdaterId").click();
            setTimeout(selfUpdater, 1000);
        })();
    </script>
}