@model KVBchat_ASP.Areas.Authentication.Models.UserLoginViewModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Login", new { area = "Authentication" }, FormMethod.Post, null))
{
    <div class="form-group" style="float:left; margin: 0 10px 0 0;">
        @Html.LabelFor(x => x.Login)
        <br />
        <br />
        @Html.LabelFor(x => x.Password)
    </div>
    <div class="form-group">
        @Html.TextBoxFor(x => x.Login)
        <br />
        <br />
        @Html.PasswordFor(x => x.Password)
    </div>
    <button class="btn btn-primary" type="submit">Login</button>
}