@model KVBchat_ASP.Models.Login.UserViewModel

@if (Model != null && Model.IsAuthenticated)
{
    <div>
        <span>
            @Model.Nickname
        </span>
        <span>
            @Html.ActionLink("Logout", "Login")
        </span>
    </div>
}
else
{
    <div>
        @Html.ActionLink("Login", "Login")
    </div>
}
